body {
	background-color:#cb8fd9;
}
.logo{
	max-width: 100%;
}
.flex-container{
	display: flex;
	flex-wrap:row wrap;
	align-content: center;
}
.header{
	width: 100%;
}
.bubble:hover{
	transform: scale(1.1);
	background-color:purple;
}
h1 {
	font-size:4em;
}
h2:hover {
	color:red;
}
a:hover {
	color:green;
}

